<% layout('layouts/boilerPlate') %>
<div class="row" style="padding-top: 40px;">
    <div class="col-7 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p></p>
            <hr>
            <p class="mb-0"><%=err.stack%></p>
          </div>
    </div>
</div>
