
<% layout('layouts/boilerPlate') %>
<h1 style="padding-top: 25px;">New Blog </h1>
<div class="container-md ">
<div class="container-sm">
    <form action="/" class="needs-validation" novalidate method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="title" class="form-control" id="exampleInputEmail1" required>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea name="content"  class="form-control" id="" cols="20" rows="5"required ></textarea>
        </div>
        <button type="submit" class="btn btn-success delpadding">Submit</button>
</form>
</div>
</div>